## Raw Data Frames for Each Sports Team

We wanted all this raw data in one place to compare the natural overlaps within the data to more easily make clean data frames for each sports team.

### 2018 Eagles Raw Data

In [1]:
import pandas as pd

In [2]:
eagles_tables = pd.read_html("https://www.statmuse.com/nfl/team/philadelphia-eagles-49/schedule/2018")

In [3]:
eagles_df = eagles_tables[2]

In [4]:
eagles_df.to_csv("../data/eagles.csv", index=False)

In [5]:
eagles_df.head(10)

        DATE Unnamed: 1  OPP    SCORE RECORD
0  Sun 12/30          @  WAS   W 24-0    9-7
1  Sun 12/23         vs  HOU  W 32-30    8-7
2  Sun 12/16          @  LAR  W 30-23    7-7
3   Sun 12/9          @  DAL  L 23-29    6-7
4   Mon 12/3         vs  WAS  W 28-13    6-6
5  Sun 11/25         vs  NYG  W 25-22    5-6
6  Sun 11/18          @   NO   L 7-48    4-6
7  Sun 11/11         vs  DAL  L 20-27    4-5
8  Sun 10/28          @  JAX  W 24-18    4-4
9  Sun 10/21         vs  CAR  L 17-21    3-4

This Eagles data had the least amount of information for us to work with compared to the multiple columns of Phillies and 76ers. Consequently, the clean sports data frames (under Clean_Sports_Data.ipynb) reflect only the most important data that are reachable across all the teams.

### 2018 Phillies Raw Data

In [6]:
phillies_tables = pd.read_html("https://www.baseball-reference.com/teams/PHI/2018-schedule-scores.shtml")

In [7]:
phillies_df = phillies_tables[0]

In [8]:
phillies_df.to_csv("../data/phillies.csv", index=False)

In [9]:
phillies_df.head(10)

,Gm#,Date,Unnamed: 2,Tm,Unnamed: 4,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
0,1,"Thursday, Mar 29",boxscore,PHI,@,ATL,L-wo,5,8,NaN,...,1.0,Vizcaíno,Neris,NaN,3:28,D,40208,1.06,-,NaN
1,2,"Friday, Mar 30",boxscore,PHI,@,ATL,W,5,4,11,...,0.5,Hutchison,Carle,NaN,4:16,N,35123,1.05,+,NaN
2,3,"Saturday, Mar 31",boxscore,PHI,@,ATL,L,2,15,NaN,...,1.5,McCarthy,Velasquez,NaN,3:21,N,37777,1.08,-,NaN
3,Gm#,April,NaN,Tm,NaN,Opp,W/L,R,RA,Inn,...,GB,Win,Loss,Save,Time,D/N,Attendance,cLI,Streak,Orig. Scheduled
4,4,"Tuesday, Apr 3",boxscore,PHI,@,NYM,L,0,2,NaN,...,2.5,Blevins,Lively,Familia,2:51,N,21397,1.01,--,NaN
5,5,"Wednesday, Apr 4",boxscore,PHI,@,NYM,L,2,4,NaN,...,3.0,Gsellman,Hutchison,Familia,3:05,D,21328,.99,---,NaN
6,6,"Thursday, Apr 5",boxscore,PHI,NaN,MIA,W,5,0,NaN,...,3.0,Pivetta,Smith,NaN,3:03,D,44488,.87,+,NaN
7,7,"Saturday, Apr 7",boxscore,PHI,NaN,MIA,W,20,1,NaN,...,3.0,Velasquez,Peters,Thompson,3:21,N,33660,.90,++,NaN
8,8,"Sunday, Apr 8",boxscore,PHI,NaN,MIA,L,3,6,NaN,...,4.0,Despaigne,García,Ziegler,3:04,D,34326,.94,-,NaN
9,9,"Monday, Apr 9",boxscore,PHI,NaN,CIN,W,6,5,NaN,...,4.0,García,Quackenbush,Neris,3:22,N,18127,.84,+,NaN

### 2019 76ers Raw Data

In [10]:
sixers_tables = pd.read_html("https://www.basketball-reference.com/teams/PHI/2019_games.html")

In [11]:
sixers_df = sixers_tables[1]

In [12]:
sixers_df.to_csv("../data/sixers.csv", index=False)

In [13]:
sixers_df.head(10)

,G,Date,Start (ET),Unnamed: 3,Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,Notes
0,1,"Sat, Apr 13, 2019",2:30p,NaN,Box Score,NaN,Brooklyn Nets,L,NaN,102,111,0,1,L 1,NaN
1,2,"Mon, Apr 15, 2019",8:00p,NaN,Box Score,NaN,Brooklyn Nets,W,NaN,145,123,1,1,W 1,NaN
2,3,"Thu, Apr 18, 2019",8:00p,NaN,Box Score,@,Brooklyn Nets,W,NaN,131,115,2,1,W 2,NaN
3,4,"Sat, Apr 20, 2019",3:00p,NaN,Box Score,@,Brooklyn Nets,W,NaN,112,108,3,1,W 3,NaN
4,5,"Tue, Apr 23, 2019",8:00p,NaN,Box Score,NaN,Brooklyn Nets,W,NaN,122,100,4,1,W 4,NaN
5,G,Date,Start (ET),NaN,NaN,NaN,Opponent,NaN,NaN,Tm,Opp,W,L,Streak,Notes
6,6,"Sat, Apr 27, 2019",7:30p,NaN,Box Score,@,Toronto Raptors,L,NaN,95,108,4,2,L 1,NaN
7,7,"Mon, Apr 29, 2019",8:00p,NaN,Box Score,@,Toronto Raptors,W,NaN,94,89,5,2,W 1,NaN
8,8,"Thu, May 2, 2019",8:00p,NaN,Box Score,NaN,Toronto Raptors,W,NaN,116,95,6,2,W 2,NaN
9,9,"Sun, May 5, 2019",3:30p,NaN,Box Score,NaN,Toronto Raptors,L,NaN,96,101,6,3,L 1,NaN